@keyframes fromTop{
    from { 
    	transform: translateY(-100%);
    	opacity: 0; 
	}
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fromLeft{
    from { 
   		transform: translateX(-100%);
    	opacity: 0; 
	}
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes popUp{
	from{
		transform: scale(.1);
		opacity: 0;
	}
	to{
		transform: scale(1);
		opacity: 1; 
	}
}


.fromTop{
    animation: fromTop .8s forwards;
}
.fromLeft{
	animation: fromLeft 1s forwards;
}
.animate{
	animation: fromTop .4s forwards;
}
.popup{
	animation: popUp .4s ease-in;
}