.mt-lg{
	margin-top: 5rem; 
}
.mt-sm{
	margin-top: 1rem; 
}
.my-lg{
	margin: 5rem 0;
}
.my-md{
	margin: 3rem 0;
}
.mb-md{
	margin-bottom: 2rem; 
}
.m-0{
	margin: 0 !important;
}
.ml-auto{
	margin-left: auto; 
}
.p-n{
	padding: 0 !important;
}

.divider{
	height: 1px;
	width: 100%;
	background-color: #7f7f7f;
	margin-top: -5rem;  
}
.rounded{
	border-radius: 50%;
}